<div id="display-contacts" style="display: flex; flex-direction: column">
{{#contacts}}
    <div>
        Name: <span>{{name}}</span>
        Email: <span>{{email}}</span>
        dot: {{.}}
    </div>
{{/contacts}}
</div>