<form hx-target="#display-contacts" hx-post="/contacts">
    name: <input type="text" name="name" />
    email: <input type=text" name="email" />
    <button type="submit">Create Contact</button>
</form>