<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="count">
            Count: {{ count }}
        </div>
        <button hx-target="#count" hx-post="/count">Count</button>
        <hr/>
        {{>form}}
        <hr/>
        {{>display}}
    </body>
</html>